// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#issues {
    list-style: none;

    li {
        border: 2px solid rgba(0,0,0,.25);
        border-radius: 8px;
        margin-bottom: 1em;
        padding: .5em .25em;
        transition: border 1s
    }

    li:hover {
        border-color: rgba(0,0,0,.75);
    }

    .title {
        font-size: 20px;
        position: relative;
        left: -1em;
        
        a {
            padding: .25em .5em;
            display: block;
            transition: background-color .5s
        }
    }

    .explanation {
        margin: 1em;
    }
}

#issue {
    .control {
        margin-top: 2em;
    }
}

.vote .selected {
    color: red;
}

#vote {
    text-align: center;
    font-size: 25px;
    margin-top: 1.5em;

    a {
        display: block;
        padding: 1em;
        color: white;
    }
    
    a:hover {
        background-color: yellow;
        color: black;
    }

    #yea {
        background-color: green;
    }

    #nay {
        background-color: red;
    }

    .selected:before {
        content: '✔ ';
    }
}

#text {
    border: 1px solid #222;
    margin: 1em;
    padding: .5em 1em;
}
