// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#issues {
    list-style: none;

    li {
        border: 2px solid rgba(0,0,0,.25);
        border-radius: 8px;
        margin-bottom: 1em;
        padding: .5em .25em;
        transition: border 1s;
        background-color: #F5F5F5;
    }

    li:hover {
        border-color: rgba(0,0,0,.75);
    }

    .title {
        font-size: 20px;
        position: relative;
        left: -1em;

        a {
            padding: .25em .5em;
            display: block;
            transition: background-color .5s
        }
    }

    .explanation {
        margin: 1em;
    }

    .votes {
        font-weight: bold;
        font-size: 25px;

        a {
            display: block;
            padding: .1em .25em;
        }
    }

    .tooltip.right.positive {
        .tooltip-inner {
            background-color: green;
        }

        .tooltip-arrow {
            border-top-color: green;
        }
    }

    .tooltip.right.negative {
        .tooltip-inner {
            background-color: red;
        }

        .tooltip-arrow {
            border-top-color: red;
        }
    }

    #approval {
        .score {
            width: 3em;
            display: inline-block;
            border: 2px solid #333;
            border-radius: 10px;
            height: 4em;
            padding: .5em;
            font-weight: bold;

            .icon {
                max-width: 100%;
            }

            .count {
                text-align: center;
            }
        }

        .score.selected {
            background-color: blue;
            color: white;
        }
    }
}

#issue {
    h1 a {
        padding: .25em .1em;
    }

    h1 .btn {
        padding: .25em .5em;
    }

    .control {
        margin-top: 2em;
    }

    #theses {
        li {
            padding: 0;
            margin-bottom: .5em;
        }

        input {
            display: none;
        }

        label {
            display: block;
            font-size: 15px;
            margin: 0;
            padding: .25em .5em;
        }

        label:hover {
            background-color: #F5F5F5;
        }

        input:checked + label {
            background-color: blue;
            color: white;
        }
    }

    #forms {
        margin-top: 1.5em;

        p {
            font-size: 15px;
        }

        .text {
            margin-left: 2em;
        }

        textarea {
            height: 12em;
        }
    }
}

.vote {
    text-align: center;

    .selected {
        color: red;
    }
}

#vote {
    text-align: center;
    font-size: 25px;
    margin-top: 1.5em;
    margin-bottom: 1em;

    a {
        display: block;
        padding: 1em;
        color: white;
    }

    a:hover {
        background-color: yellow;
        color: black;
    }

    #yea {
        background-color: green;
    }

    #nay {
        background-color: red;
    }

    .selected:before {
        content: '✔ ';
    }
}

#text {
    border: 1px solid #222;
    margin: 1em;
    padding: .5em 1em;

    p {
        font-size: 15px;
    }

    .html a {
        color: blue;
    }

    textarea {
        height: 12em;
        margin-bottom: .5em;
    }

    .controls {
        text-align: right;
        padding-right: 5%;
    }
}

#theses {
    margin-bottom: 1em;

    ol {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        border: 1px solid #222;
        padding: .25em .5em;
        background-color: white;
        font-size: 13px;
    }

    .add {
        display: block;
        font-weight: bold;
    }
}

.version-list {
  list-style-type: none;
  padding: 10px 0;
}

.version-preview {
  padding-top: 80px;
}

.version-label {
  cursor: pointer;
}
